In [3]:
import pandas as pd

In [4]:
pd.__version__

'1.2.3'

In [5]:
# API에 대한 확인
# help(pd.DataFrame)

In [6]:
s = pd.Series([3,-5,7,4])
s
# Series는 리스트와 반대로, 아래로 뻗어진 행렬로 생각하자.
# index 지정 안하는 경우 0부터 시작

0    3
1   -5
2    7
3    4
dtype: int64

In [7]:
print(s[0])
print('')
print(s[3])
print('')
# 전체 표시
print(s[:])
print('')
print(s[0:4])

3

4

0    3
1   -5
2    7
3    4
dtype: int64

0    3
1   -5
2    7
3    4
dtype: int64

In [8]:
data = [3, -5, 7, 4]
# index는 종류가 달라도 상관없다.
s = pd.Series(data, index = ['a', 'b', 'c', 'd'])
print(s)
print(type(s))

a    3
b   -5
c    7
d    4
dtype: int64
<class 'pandas.core.series.Series'>

In [9]:
print(s.index) # array 형태로 나온다
# 문자일 경우는 dtype가 object로 처리됨
print(s.values) # array 형태로 동일하게
print(s.dtype)
print(s.shape) # 행,열의 개수 튜플로 반환
print(s.ndim) # 차원, 1차원이므로 1
print('--------')
print(s.value_counts) # ?
# for i in s.index:
#     print(i)

Index(['a', 'b', 'c', 'd'], dtype='object')
[ 3 -5  7  4]
int64
(4,)
1
--------
<bound method IndexOpsMixin.value_counts of a    3
b   -5
c    7
d    4
dtype: int64>

In [10]:
# indexing
# index명, index 순서 이용해 인덱싱 ㄱㅏ능

print(s['a'])
print(s[0])

3
3

In [11]:
# pop_dict는 파이썬 딕셔너리
pop_dict = {'Germany': 81.3, 
            'Belgium': 11.3, 
            'France': 64.3, 
            'United Kingdom': 64.9, 
            'Netherlands': 16.9}

# pop_dict로 Series 생성
population = pd.Series(pop_dict)
population

Germany           81.3
Belgium           11.3
France            64.3
United Kingdom    64.9
Netherlands       16.9
dtype: float64

In [12]:
pop_dict['United Kingdom']

64.9

In [13]:
population.ndim

1

In [14]:
print(population[3])
print(population[-2])

64.9
64.9

In [15]:
population * 1000

Germany           81300.0
Belgium           11300.0
France            64300.0
United Kingdom    64900.0
Netherlands       16900.0
dtype: float64

In [16]:
# DataFrame
# 2차원 데이터 구조
# 엑셀 스프레드시트, 데이터베이스 등과 동일한 2차원 구조

data = [['Belgium', 'Brussels', 11190846],
        ['India', 'New Delhi', 1303171035],
        ['Brazil', 'Brasília', 207847528]]

df = pd.DataFrame(data)

df

         0          1           2
0  Belgium   Brussels    11190846
1    India  New Delhi  1303171035
2   Brazil   Brasília   207847528

In [17]:
print(df[0])
print(df[1])
print(df.loc[0]) # 행을 읽는 함수

0    Belgium
1      India
2     Brazil
Name: 0, dtype: object
0     Brussels
1    New Delhi
2     Brasília
Name: 1, dtype: object
0     Belgium
1    Brussels
2    11190846
Name: 0, dtype: object

In [18]:
df2 = pd.DataFrame(data, columns = ['Country', 'Capital', 'Population'])

In [19]:
df2['Country']

0    Belgium
1      India
2     Brazil
Name: Country, dtype: object

In [20]:
# Dataframe의 데이터는 딕셔너리로 넘겨주는 것이 일반적
# col이 그대로 딕셔너리의 앞의 key로 정해진다.
data3 = {'Country': ['Belgium', 'India', 'Brazil'],
        'Capital': ['Brussels', 'New Delhi', 'Brasília'],
        'Population': [11190846, 1303171035, 207847528]}

df3 = pd.DataFrame(data3)

print(df3)
print('')
print(df3['Country'])
print('')
print(df3.loc[1])  # Series로 출력!
print(type(df3.loc[1]))

   Country    Capital  Population
0  Belgium   Brussels    11190846
1    India  New Delhi  1303171035
2   Brazil   Brasília   207847528

0    Belgium
1      India
2     Brazil
Name: Country, dtype: object

Country            India
Capital        New Delhi
Population    1303171035
Name: 1, dtype: object
<class 'pandas.core.series.Series'>

In [21]:
data4 = {'Country': ['Belgium', 'India', 'Brazil'],
        'Capital': ['Brussels', 'New Delhi', 'Brasília'],
        'Population': [11190846, 1303171035, 207847528]}

df4 = pd.DataFrame(data,
                    index=['aa', 'bb', 'cc'])

df4

          0          1           2
aa  Belgium   Brussels    11190846
bb    India  New Delhi  1303171035
cc   Brazil   Brasília   207847528

In [22]:
type(df)

pandas.core.frame.DataFrame

In [23]:
# DataFrame 의 하나의 열
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       3 non-null      object
 1   1       3 non-null      object
 2   2       3 non-null      int64
dtypes: int64(1), object(2)
memory usage: 200.0+ bytes