In [1]:
!cd

In [2]:
import pymysql.cursors

In [3]:
import pandas as pd

In [4]:
connection = pymysql.connect(host='localhost',
        user='yoohwayoung',
        password='00000000',
        db='classicmodels',
        charset='utf8',
        cursorclass=pymysql.cursors.DictCursor)
try:
    with connection.cursor() as cursor:
        # Read a single record
        sql = "SELECT count(total_bill) FROM tip.tips where tip >= 7;" 
        #=> count를 하는 습관을 들여라! 몇개가 있는지 파악하고 해야지 메모리를 안잡아먹는다.
        #sql = "SELECT * FROM tips"
        cursor.execute(sql)
        result = cursor.fetchall()
        df=pd.DataFrame(result)
        #print(result)
finally:
    connection.close()

In [5]:
df

   count(total_bill)
0                  3

In [6]:
df.describe()

       count(total_bill)
count                1.0
mean                 3.0
std                  NaN
min                  3.0
25%                  3.0
50%                  3.0
75%                  3.0
max                  3.0

In [7]:
from numpy import isnan
from pandas import read_csv
from sklearn.impute import SimpleImputer

In [8]:
url = 'https://raw.githubusercontent.com/jbrownlee/Datasets/master/horse-colic.csv'
dataframe = read_csv(url, header=None, na_values='?')

In [9]:
dataframe.describe()

,0,1,2,3,4,5,6,7,8,9,...,18,19,20,21,22,23,24,25,26,27
count,299.000000,300.000000,3.000000e+02,240.000000,276.000000,242.000000,244.000000,231.000000,253.000000,268.000000,...,271.000000,267.000000,135.000000,102.000000,299.000000,300.000000,300.000000,300.000000,300.000000,300.000000
mean,1.397993,1.640000,1.085889e+06,38.167917,71.913043,30.417355,2.348361,2.017316,2.853755,1.305970,...,46.295203,24.456929,2.037037,3.019608,1.551839,1.363333,3657.880000,90.226667,7.363333,1.670000
std,0.490305,2.173972,1.529801e+06,0.732289,28.630557,17.642231,1.045054,1.042428,1.620294,0.477629,...,10.419335,27.475009,0.804905,1.968567,0.737187,0.481763,5399.513513,649.569234,127.536674,0.470998
min,1.000000,1.000000,5.184760e+05,35.400000,30.000000,8.000000,1.000000,1.000000,1.000000,1.000000,...,23.000000,3.300000,1.000000,0.100000,1.000000,1.000000,0.000000,0.000000,0.000000,1.000000
25%,1.000000,1.000000,5.289040e+05,37.800000,48.000000,18.500000,1.000000,1.000000,1.000000,1.000000,...,38.000000,6.500000,1.000000,2.000000,1.000000,1.000000,2111.750000,0.000000,0.000000,1.000000
50%,1.000000,1.000000,5.303055e+05,38.200000,64.000000,24.500000,3.000000,2.000000,3.000000,1.000000,...,45.000000,7.500000,2.000000,2.250000,1.000000,1.000000,2673.500000,0.000000,0.000000,2.000000
75%,2.000000,1.000000,5.347275e+05,38.500000,88.000000,36.000000,3.000000,3.000000,4.000000,2.000000,...,52.000000,57.000000,3.000000,3.900000,2.000000,2.000000,3209.000000,0.000000,0.000000,2.000000
max,2.000000,9.000000,5.305629e+06,40.800000,184.000000,96.000000,4.000000,4.000000,6.000000,3.000000,...,75.000000,89.000000,3.000000,10.100000,3.000000,2.000000,41110.000000,7111.000000,2209.000000,2.000000

In [10]:
df.isnull().sum()

count(total_bill)    0
dtype: int64

In [11]:
data = dataframe.values
ix = [i for i in range(data.shape[1]) if i != 3]

In [12]:
X=data[:, 1]

In [13]:
X

array([1., 1., 1., 9., 1., 1., 1., 1., 1., 9., 1., 1., 1., 9., 1., 1., 9.,
       1., 1., 1., 1., 1., 1., 9., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 9., 1., 9., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 9., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 9., 9., 1., 1., 1., 1., 1., 1., 9., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 9., 1., 1., 1., 1., 1., 9., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 9.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 9., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 9., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 9., 1., 9., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 9., 1., 1., 1., 1., 1., 1., 1., 9., 1., 1.,
       9., 1., 1., 1., 1., 1., 1., 9., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 9., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 9., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.])

In [14]:
from sklearn.impute import SimpleImputer

In [15]:
imputer = SimpleImputer(strategy='mean')

In [16]:
# df.values

In [17]:
data = dataframe.values
ix = [i for i in range(data.shape[1]) if i != 23]

In [18]:
from numpy import isnan

In [19]:
# define imputer
imputer = SimpleImputer(strategy='mean')

In [20]:
# fit on the dataset
imputer.fit(data)

SimpleImputer()

In [21]:
# transform the dataset
Xtrans = imputer.transform(data)

# print total missing
print('Missing: %d' % sum(isnan(Xtrans).flatten()))

Missing: 0