In [1]:
!cd

In [3]:
!pwd

/Users/yoohwayoung/[K-Digital]TIL/0615

In [2]:
import pandas as pd

In [20]:
tips = pd.read_csv('../[K-Digital]Training_up0614/Python/pandas/tips.csv')

In [11]:
#tips = pd.read_csv('./tips.csv')

In [21]:
tips.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [22]:
tip_rate=tips["tip"]/tips["total_bill"]

In [23]:
tips.assign(tip_rate=tips["tip"] / tips["total_bill"]).head(5)

   total_bill   tip     sex smoker  day    time  size  tip_rate
0       16.99  1.01  Female     No  Sun  Dinner     2  0.059447
1       10.34  1.66    Male     No  Sun  Dinner     3  0.160542
2       21.01  3.50    Male     No  Sun  Dinner     3  0.166587
3       23.68  3.31    Male     No  Sun  Dinner     2  0.139780
4       24.59  3.61  Female     No  Sun  Dinner     4  0.146808

In [24]:
tips[tips["time"] == "Dinner"].head(5)

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [63]:
week=tips.groupby('day').agg({'tip':np.mean, 'day':np.size})

In [64]:
week

           tip  day
day
Fri   2.734737   19
Sat   2.993103   87
Sun   3.255132   76
Thur  2.771452   62

In [65]:
week.tip

day
Fri     2.734737
Sat     2.993103
Sun     3.255132
Thur    2.771452
Name: tip, dtype: float64

In [67]:
week.tip.max()

3.255131578947369

In [68]:
week.tip.mean()

2.93860587055793

In [69]:
week.iloc[0,:]

tip     2.734737
day    19.000000
Name: Fri, dtype: float64

In [73]:
week.loc['Fri','tip']

2.734736842105263

In [80]:
smoker0=tips.groupby(["smoker", "day"]).agg({"tip": [np.size, np.mean]})

In [81]:
smoker0

              tip
             size      mean
smoker day
No     Fri    4.0  2.812500
       Sat   45.0  3.102889
       Sun   57.0  3.167895
       Thur  45.0  2.673778
Yes    Fri   15.0  2.714000
       Sat   42.0  2.875476
       Sun   19.0  3.516842
       Thur  17.0  3.030000

In [82]:
smoker0.iloc[1, :]

tip  size    45.000000
     mean     3.102889
Name: (No, Sat), dtype: float64

In [83]:
smoker0.iloc[7,:]

tip  size    17.00
     mean     3.03
Name: (Yes, Thur), dtype: float64